<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cynara Costa</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/partials/footer.css">
    <link rel="stylesheet" href="../styles/partials/menu-left.css">
    <link rel="stylesheet" href="../styles/partials/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="menu-left">
            <div>
                <img src="../docs/me.jpeg" alt="Foto descontraida" class="photo-me">
            </div>


            <div class="name">
                <h1>Cynara Costa</h1>
            </div>
            <div class="ufpe">
                <h2 class='ufpe'>Ciência da Computação - UFPE</h2>
            </div>
            <div class="bottom">
                <a href="https://www.instagram.com/cynara_costa_/" target="_blank">
                    <img src="../docs/instagram-icon.png" alt="" class="social-networks"></a>
                <a href="https://www.linkedin.com/in/cynara-costa-bba1271a2/" target="_blank">
                    <img src="../docs/linkedin.png" alt="" class="social-networks"></a>
                <a href="https://github.com/CynaraCosta" target="_blank">
                    <img src="../docs/github.png" alt="" class="social-networks"></a>
            </div>
        </div>

        <div class="intro">
            <p>
                Meu nome completo é enorme porque meus pais não conseguiam se decidir quais sobrenomes
                gostariam de me passar, para resolver o problema por que não colocar todos dos dois?<br>
                <br>
                Pois é, isso acabou fazendo com que meu nome fosse igual a: Cynara Valéria de Oliveira Costa do Amaral
                Cavalcanti, pequeno né? Era comum eu chorar na escola porque não conseguia lembrar dele na hora de
                escrever
                a tarefa... <br>
                <br>
                Passaram-se os anos e eu entrei no colégio CBV onde cursei o meu ensino médio completo e sou muito grata
                à minha família que sempre abriu mão de suas necessidades para me dar uma boa educação. E então, passei
                em alguns
                cursos de algumas faculdades de Pernambuco, mas meu objetivo até o ano passado era medicina. No entanto,
                conforme estudava
                mais para entrar numa faculdade pública, mais eu via que meus gostos não batiam com o curso...
                <br>
                <br>
                Eu comecei a ler sobre empreendimento, criação, negócios e conheci a programação. Por sempre ter gostado
                de quebra-cabeças,
                vi a programação com bons olhos, e somado ao fato de sempre ter passado horas e horas jogando, estudando
                ou resolvendo problemas
                através de um computador, resolvi me aventurar nesse mundo da tecnologia...
            </p>
            <div class="photos">
                <img src="../docs/primeiro-dia-de-aula.jpeg" alt="meu primeiro dia de aula">
                <img src="../docs/foto-sao-bento.jpeg" alt="passeio de colégio">
                <img src="../docs/foto-terceiro-ano.jpeg" alt="muito séria no terceiro ano">
            </div>


        </div>

        <div class="buttons">
            <a href="../views/about.html"><button>Sobre</button></a>
            <a href="../views/books.html"><button>Livros</button></a>
            <a href="../views/games.html"><button>Jogos</button></a>
            <a href="../index.html"><button>Início</button></a>
        </div>

    </div>
</body>


</html>