<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cynara Costa</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/footer.css">
    <link rel="stylesheet" href="/styles/partials/menu-left.css">
    <link rel="stylesheet" href="/styles/partials/books.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="menu-left">
            <div>
                <img src="/docs/me.jpeg" alt="Foto descontraida" class="photo-me">
            </div>


            <div class="name">
                <h1>Cynara Costa</h1>
            </div>
            <div class="ufpe">
                <h2 class='ufpe'>Ciência da Computação - UFPE</h2>
            </div>
            <div class="bottom">
                <a href="https://www.instagram.com/cynara_costa_/" target="_blank">
                    <img src="/docs/instagram-icon.png" alt="" class="social-networks"></a>
                <a href="https://www.linkedin.com/in/cynara-costa-bba1271a2/" target="_blank">
                    <img src="/docs//linkedin.png" alt="" class="social-networks"></a>
                <a href="https://github.com/CynaraCosta" target="_blank">
                    <img src="/docs/github.png" alt="" class="social-networks"></a>
            </div>
        </div>

        <div class="intro">
            <p>
                Como eu disse no sobre mim, eu gosto e pratico bastante o hábito de ler, principalmente
                sobre negócios, empreendimentos e biografias... Por isso achei que seria legal citar meus favoritos!
            </p>
            <ol>
                <h4>
                    <li>Elon Musk: Como o CEO bilionário da SpaceX e da Tesla está moldando nosso futuro</li>
                </h4>
                <p>Elon Musk é o empreendedor mais ousado de nosso tempo. Uma mistura de Thomas Edison, Henry Ford,
                    Howard Hughes e Steve Jobs, ele é o homem por trás dos cobiçados esportivos elétricos da Tesla
                    Motors, dos painéis e baterias de energia solar popularizados pela SolarCity e dos foguetes
                    espaciais da SpaceX, construídos do zero com recursos privados e muito mais baratos que qualquer
                    versão já lançada pelas agências governamentais. Entre as próximas metas de Musk está a colonização
                    de Marte.
                    <br><br>

                    Nesse livro, o experiente jornalista de tecnologia Ashlee Vance apresenta um olhar inédito sobre a
                    vida e as realizações inacreditáveis do homem mais audacioso do Vale do Silício. Fundamentado em
                    mais de cinquenta horas de conversas com Musk e entrevistas com mais de trezentas pessoas ligadas a
                    ele, Vance investiga em detalhes a trajetória muitas vezes instável e controversa das empresas de
                    Musk e traça um retrato impressionante do personagem complexo que renovou a indústria com uma série
                    de inovações de enorme impacto político e econômico, num vislumbre do que pode vir a ser o futuro
                    encabeçado pelo progresso de seus negócios visionários.
                    <br><br>

                    Em uma época como a atual, em que a maioria das empresas prefere o lucro fácil ao risco de
                    desenvolver tecnologias radicalmente novas, Musk se destaca como o único empresário com dinamismo e
                    visão suficientes para comandar — e revolucionar — três indústrias ao mesmo tempo. Se ele é
                    simplesmente um lunático ou a mente mais brilhante a ter posto os pés neste planeta, só o tempo
                    dirá, mas sua biografia, hoje, já é parte relevante da história.</p>
                <h4>
                    <li>Sapiens - Uma Breve História da Humanidade</li>
                </h4>
                <p>O que possibilitou ao Homo sapiens subjugar as demais espécies? O que nos torna capazes das mais
                    belas obras de arte, dos avanços científicos mais impensáveis e das mais horripilantes guerras?
                    Nossa capacidade imaginativa. Somos a única espécie que acredita em coisas que não existem na
                    natureza, como Estados, dinheiro e direitos humanos. Partindo dessa ideia, Yuval Noah Harari, doutor
                    em história pela Universidade de Oxford, aborda em Sapiens a história da humanidade sob uma
                    perspectiva inovadora. Explica que o capitalismo é a mais bem-sucedida religião, que o imperialismo
                    é o sistema político mais lucrativo, que nós, humanos modernos, embora sejamos muito mais poderosos
                    que nossos ancestrais, provavelmente não somos mais felizes. Um relato eletrizante sobre a aventura
                    de nossa extraordinária espécie ? de primatas insignificantes a senhores do mundo.</p>
                <h4>
                    <li>Os botões de Napoleão: As 17 moléculas que mudaram a história</li>
                </h4>
                <p>Será que podemos explicar o fracasso da campanha de Napoleão na Rússia, em 1812, por algo tão
                    insignificante quanto um botão? Quando exposto a temperaturas baixas, o estanho se esfarela, e todas
                    as fardas dos regimentos de Napoleão eram fechadas com botões feitos desse material. Com estilo
                    cativante, temperado com diversas histórias curiosas, a professora de química Penny Le Couteur e o
                    químico industrial Jay Burreson fazem uma fascinante análise de 17 grupos de moléculas que, como o
                    estanho daqueles botões, influenciaram o curso da história. <br> <br> Essas moléculas produziram
                    grandes
                    feitos na engenharia e provocaram importantes avanços na medicina e no direito. Além disso,
                    determinaram o que hoje comemos, bebemos e vestimos. Ao revelar as espantosas conexões químicas que
                    unem eventos aparentemente não relacionados, os autores esclarecem que: - Por causa da química, a
                    colônia Nova Amsterdã tornou-se Nova York. - Um contratempo na limpeza da cozinha com um avental de
                    algodão resultou no desenvolvimento dos explosivos modernos e da indústria cinematográfica. - A
                    ânsia dos europeus pela cafeína - um alcalóide que vicia - levou à Revolução Chinesa. - Foi um
                    laboratório químico que, em busca de um analgésico potente, criou a heroína. "Em geral não paramos
                    para pensar na história ou na composição química de especiarias, borracha, nicotina, penicilina ou
                    um sem-número de produtos que mudaram o mundo. Isso é belamente realizado em Os botões de Napoleão,
                    com sua brilhante mescla de química e cultura. O livro é estimulante e de leitura extremamente
                    agradável." Oliver Sacks, autor de Um antropólogo em Marte</p>
            </ol>
        </div>

        <div class="photos">
            <a href="https://www.amazon.com.br/Elon-Musk-Ashlee-Vance/dp/8580578280/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2MXMFLYG3FRMV&dchild=1&keywords=elon+musk&qid=1601506755&sprefix=elon%2Caps%2C521&sr=8-1"
                target="blanck"><img src="/docs/elon-musk.jpg" alt="elon musk livro"></a>
            <a href="https://www.amazon.com.br/Sapiens-Uma-Breve-Hist%C3%B3ria-Humanidade/dp/8525432180/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=28BACJTYFFTF0&dchild=1&keywords=sapiens&qid=1601506815&sprefix=sapi%2Caps%2C324&sr=8-1"
                target="blanck"><img src="/docs/sapiens.jpg" alt="sapiens livro"></a>
            <a href="https://www.amazon.com.br/Os-bot%C3%B5es-Napole%C3%A3o-mol%C3%A9culas-hist%C3%B3ria/dp/8571109249/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=359I47F036PM6&dchild=1&keywords=os+botoes+de+napoleao&qid=1601506216&sprefix=Os+botoes%2Caps%2C241&sr=8-1"
                target="blanck"><img src="/docs/os-botoes-de-napoleao.webp" alt="os botoes de napoleao livro"></a>
        </div>

        <div class="buttons">
            <a href="/views/about.html"><button>Sobre</button></a>
            <a href="/views/books.html"><button>Livros</button></a>
            <a href="/views/games.html"><button>Jogos</button></a>
            <a href="/index.html"><button>Início</button></a>
        </div>

    </div>
</body>

</html>