<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cynara Costa</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/footer.css">
    <link rel="stylesheet" href="/styles/partials/menu-left.css">
    <link rel="stylesheet" href="/styles/partials/games.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="menu-left">
            <div>
                <img src="/docs/me.jpeg" alt="Foto descontraida" class="photo-me">
            </div>


            <div class="name">
                <h1>Cynara Costa</h1>
            </div>
            <div class="ufpe">
                <h2 class='ufpe'>Ciência da Computação - UFPE</h2>
            </div>
            <div class="bottom">
                <a href="https://www.instagram.com/cynara_costa_/" target="_blank">
                    <img src="/docs/instagram-icon.png" alt="" class="social-networks"></a>
                <a href="https://www.linkedin.com/in/cynara-costa-bba1271a2/" target="_blank">
                    <img src="/docs//linkedin.png" alt="" class="social-networks"></a>
                <a href="https://github.com/CynaraCosta" target="_blank">
                    <img src="/docs/github.png" alt="" class="social-networks"></a>
            </div>
        </div>

        <div class="intro">
            <p>
                Sendo da área de tecnologia não poderia deixar de falar dos meu jogos favoritos também... Já que
                eu jogo há muito tempo! Mas, no meu caso, tempo não quer dizer variadade infelizmente, pois sou
                muito chata em relação aos games. Mas aqui vai outra listinha, dessa vez dos meus jogos favoritos:
            </p>
            <ol>
                <h4>
                    <li>Grand Theft Auto V</li>
                </h4>
                <p>Grand Theft Auto V é um jogo eletrônico de ação-aventura desenvolvido pela Rockstar North e publicado
                    pela Rockstar Games. É o sétimo título principal da série Grand Theft Auto e foi lançado
                    originalmente em 17 de setembro de 2013 para PlayStation 3 e Xbox 360, com remasterizações lançadas
                    em 2014 para PlayStation 4 e Xbox One, em 2015 para Microsoft Windows e em 2021 para PlayStation 5 e
                    Xbox Series X. O jogo se passa no estado ficcional de San Andreas, com a história da campanha um
                    jogador seguindo três criminosos e seus esforços para realizarem assaltos sob a pressão de uma
                    agência governamental. O mundo aberto permite que os jogadores naveguem livremente pelas áreas
                    rurais e urbanas de San Andreas.</p>
                <h4>
                    <li>Valorant</li>
                </h4>
                <p>
                    Valorant é um jogo eletrônico multijogador gratuito para jogar de tiro em primeira pessoa
                    desenvolvido e publicado pela Riot Games. É o primeiro jogo do gênero desenvolvido pela empresa,
                    sendo anunciado pela primeira vez com o codinome Project A em outubro de 2019, em um evento de
                    comemoração de 10 anos de League of Legends. Foi lançado em 2 de junho de 2020 para Microsoft
                    Windows.
                </p>
                <h4>
                    <li>League of Legends</li>
                </h4>
                <p>League of Legends (abreviado como LoL) é um jogo eletrônico do gênero multiplayer online battle arena
                    (abreviado como MOBA), desenvolvido e publicado pela Riot Games para Microsoft Windows e Mac OS
                    X. Em League of Legends, os jogadores assumem o papel de "invocadores", controlando campeões com
                    habilidades únicas e que lutam com seu time contra outros invocadores ou campeões controlados pelo
                    computador. No modo mais popular do jogo, o objetivo de cada time é destruir o nexus da equipe
                    adversária, uma construção localizada na base e protegida por outras estruturas. Cada partida de
                    League of Legends é distinta, pois os campeões sempre começam fracos e progridem através da
                    acumulação de ouro e da experiência ao longo do jogo.</p>

                </p>
            </ol>
            <div class="photos">
                <a id="gtav"
                    href="https://www.rockstargames.com/V/restricted-content/agegate/form?redirect=https%3A%2F%2Fwww.rockstargames.com%2FV%2Fbr&options=&locale=pt_br"
                    target="blanck"><img src="/docs/gta-v.png" alt="gta v"></a>
                <a id="valorant" href="https://playvalorant.com/pt-br/" target="blanck">
                    <img src="/docs/valorant.png" alt="valorant"></a>
                <a href="https://na.leagueoflegends.com/pt-br/" target="blanck">
                    <img src="/docs/lol.jpg" alt="league of legends"></a>

            </div>
        </div>

        <div class="buttons">
            <a href="/views/about.html"><button>Sobre</button></a>
            <a href="/views/books.html"><button>Livros</button></a>
            <a href="/views/games.html"><button>Jogos</button></a>
            <a href="/index.html"><button>Início</button></a>
        </div>

    </div>
</body>

</html>